<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Escolha sua Pizza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
  <ion-label>Pizza Inteira ou Metade</ion-label>
  <ion-select placeholder= "Inteira ou Metade">
    <ion-select-option value="Inteira">Inteira</ion-select-option>
    <ion-select-option value="Metade">Metade</ion-select-option>
  </ion-select>
</ion-card>

<ion-card>
  <ion-label>Sabores:</ion-label>
  <ion-select multiple="true" placeholder="Escolha o sabor da sua pizza" okText="Confirmar">
    <ion-select-option value="Calabresa">Calabresa</ion-select-option>
    <ion-select-option value="Muçarela">Muçarela</ion-select-option>
    <ion-select-option value="FrangoCatupiry">Frango com Catupiry</ion-select-option>
    <ion-select-option value="Fritas">Batata Frita</ion-select-option>
    <ion-select-option value="Pepperone">Pepperone</ion-select-option>
    <ion-select-option value="Atum">Atum</ion-select-option>
    <ion-select-option value="4Queijos">4 Quejos</ion-select-option>
    <ion-select-option value="2Queijos">2 Queijos</ion-select-option>
    <ion-select-option value="Margherita">Margherita</ion-select-option>
    <ion-select-option value="Portuguesa">Portuguesa</ion-select-option>
  </ion-select>
</ion-card>

<ion-card>
  <ion-label>Borda</ion-label>
  <ion-select placeholder="Selecione a Borda">
    <ion-select-option value="Cheddar">Cheddar</ion-select-option>
    <ion-select-option value="Catupiry">Catupiry</ion-select-option>
    <ion-select-option value="Borda Normal">Normal</ion-select-option>
    <ion-select-option value="Sem Borda">Sem Borda</ion-select-option>
  </ion-select>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Adicionais</ion-label>
    <ion-select multiple="true" cancelText="Cancelar" okText="Confirmar" expand="full">
      <ion-select-option value="bacon">Bacon</ion-select-option>
      <ion-select-option value="molho">Molho Extra</ion-select-option>
      <ion-select-option value="queijoxta">Dobro de Queijo</ion-select-option>
      <ion-select-option value="catupiry">Catupiry</ion-select-option>
      <ion-select-option value="cheddar">Cheddar</ion-select-option>
      <ion-select-option value="cebola">Cebola</ion-select-option>
      <ion-select-option value="pepperone">Pepperone</ion-select-option>
      <ion-select-option value="calabresa">Calabresa</ion-select-option>
      <ion-select-option value="Azeitona">Azeitona</ion-select-option>
      <ion-select-option value="Presunto">Presunto</ion-select-option>
    </ion-select>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-textarea placeholder="Observações Adicionais"></ion-textarea>
  </ion-item>
</ion-card>
</ion-content>

<ion-button color="danger" expand="full" [routerLink]="['/home']">Finalizar Pedido</ion-button>