<ion-header>
  <ion-toolbar  color= "danger">
    <ion-title class = "title">
      Monte sua pizza 🍕
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-img class = "image" src ="https://images.pexels.com/photos/803290/pexels-photo-803290.jpeg?cs=srgb&dl=pexels-beqa-tefnadze-803290.jpg&fm=jpg"></ion-img>


<ion-list>
  <ion-row>
      <ion-item class = "itens">
        Recheio
        <ion-buttons end>
          <button ion-button icon-only (click) ="presentAlertCheckboxRecheio()"  >
           <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
         </button>
        </ion-buttons>
  </ion-item>
</ion-row>
 

  <ion-row>
  <ion-item class = "itens">
    Borda
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertRadioBorda()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>


  <ion-row>
  <ion-item class = "itens">
    Molho
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertRadioMolho()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>
 

  <ion-row>
  <ion-item class = "itens">
    Complemento
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertCheckboxComplemento()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>

  <ion-row>
  <ion-item class = "itens">
    Tamanho
    <ion-buttons end class= "botao">
      <button ion-button icon-only (click) ="presentAlertRadioTamanho()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>
</ion-list>


<ion-button> Finalize seu pedido </ion-button>


