<ion-header>
  <ion-toolbar color= "danger">
    <ion-title>
      Monte sua pizza 🍕
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-row>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Recheio</ion-card-title>
    </ion-card-header>
      <ion-item>
        <ion-buttons end>
          <button ion-button icon-only (click) ="presentAlertCheckboxRecheio()"  >
           <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
         </button>
        </ion-buttons>
  </ion-item>
</ion-row>
</ion-card>  
<ion-card>
  <ion-row>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Borda</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertRadioBorda()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>
</ion-card>  
<ion-card>
  <ion-row>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Molho</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertRadioMolho()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>
</ion-card>  
<ion-card>
  <ion-row>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Complemento</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertCheckboxComplemento()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>
</ion-card>  
<ion-card>
  <ion-row>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Tamanho</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click) ="presentAlertRadioTamanho()"  >
       <ion-icon slot="icon-only"name="add-circle-outline"></ion-icon>
     </button>
    </ion-buttons>
</ion-item>
</ion-row>
</ion-card> 



