<ion-header>
  <ion-toolbar color=danger>
    <ion-title>Agradeçemos seu Pedido</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content> 
  
  <h1>  Quem Somos?</h1>
  <h2> A Pizzaria Canária é uma empresa voltada sempre no objetivo de atender o cliente da melhor forma possível. Somos uma empresa que se preza em oferecer a melhor qualidade da nossas pizza para levar a casa do cliente.</h2>

  <ion-button class = "button1" fill="solid" color="danger" expand="block" [routerLink]="['/home']">
    Voltar a pagina Inicial
  </ion-button>
</ion-content>
