<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Informações Pessoais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-contactform></app-contactform>
  <ion-list>
    <ion-item>
      <ion-label class="head"> Confirmação de Pedido:</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{pizza.tamanho}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{pizza.sabor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{pizza.borda}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{pizza.observacao}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-button color="danger" [routerLink]="['/agradecimento']" expand="full">Completar pedido</ion-button>