<ion-header>
  <ion-toolbar  color= "danger">
    <ion-title class = "title">
      Monte sua pizza 🍕
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-img class = "image" src ="https://images.pexels.com/photos/803290/pexels-photo-803290.jpeg?cs=srgb&dl=pexels-beqa-tefnadze-803290.jpg&fm=jpg"></ion-img>

<ion-card>
<p>Recheios:</p>
<ion-select multiple="true" placeholder="Escolha o sabor da sua pizza" okText="Confirmar">
  <ion-select-option value="Calabresa">Calabresa</ion-select-option>
  <ion-select-option value="Mussarela">Mussarela</ion-select-option>
  <ion-select-option value="FrangoCatupiry">Frango com Catupiry</ion-select-option>
  <ion-select-option value="Fritas">Batata Frita</ion-select-option>
  <ion-select-option value="Pepperone">Pepperone</ion-select-option>
  <ion-select-option value="Atum">Atum</ion-select-option>
  <ion-select-option value="4Queijos">4 Quejos</ion-select-option>
  <ion-select-option value="2Queijos">2 Queijos</ion-select-option>
  <ion-select-option value="Margherita">Margherita</ion-select-option>
  <ion-select-option value="Portuguesa">Portuguesa</ion-select-option>
</ion-select>
</ion-card>
 

<ion-card>
  <ion-label>Borda</ion-label>
  <ion-select placeholder="Selecione a Borda">
    <ion-select-option value="Cheddar">Cheddar</ion-select-option>
    <ion-select-option value="Catupiry">Catupiry</ion-select-option>
    <ion-select-option value="Borda Normal">Normal</ion-select-option>
    <ion-select-option value="Sem Borda">Sem Borda</ion-select-option>
  </ion-select>
</ion-card>
 
    <ion-card>
      <p>Complemento:</p>
      <ion-select multiple="true" placeholder="Escolha o sabor da sua pizza" okText="Confirmar">
        <ion-select-option value="Calabresa">Calabresa</ion-select-option>
        <ion-select-option value="Mussarela">Mussarela</ion-select-option>
        <ion-select-option value="Frango">Frango com Catupiry</ion-select-option>
        <ion-select-option value="Pepperone">Pepperone</ion-select-option>
        <ion-select-option value="Atum">Atum</ion-select-option>
        <ion-select-option value="Tomate">Margherita</ion-select-option>
        <ion-select-option value="Brocolis">Margherita</ion-select-option>
        <ion-select-option value="Escarola">Margherita</ion-select-option>
        <ion-select-option value="Catupry">Margherita</ion-select-option>
        <ion-select-option value="Ovos">Margherita</ion-select-option>
        <ion-select-option value="Cebola">Margherita</ion-select-option>
        <ion-select-option value="Orégano">Margherita</ion-select-option>
      </ion-select>
      </ion-card>

      <ion-card>
        <p>Tamanho:</p>
        <ion-select placeholder="Escolha o sabor da sua pizza" okText="Confirmar">
          <ion-select-option value="20cm">20cm</ion-select-option>
          <ion-select-option value="30cm">30cm</ion-select-option>
          <ion-select-option value="40cm">40cm</ion-select-option>
        </ion-select>
        </ion-card>



<ion-button color = "danger"[routerLink]="['/finalizacao']"> Finalize seu pedido </ion-button>


