.botao{
 display: flex;
 justify-content: space-between;
}

.itens{
    font-size: 25px;
}

.title{
    font-size: 30px;
}

ion-content{
    --background: url(https://st2.depositphotos.com/5988232/11143/v/950/depositphotos_111433034-stock-illustration-pizza-ingredients-italian-pizza-collection.jpg) center;
    &::part(background){
        background-size: cover;
    }
}