<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      <h1><strong>Pizzaria Canário</strong></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class= "ion-padding">
  <h2>Seja Bem Vindo</h2>
 <!--<ion-img class="ima" src ="https://images.pexels.com/photos/1260968/pexels-photo-1260968.jpeg?cs=srgb&dl=pexels-daria-shevtsova-1260968.jpg&fm=jpg"></ion-img>-->
  <h3 class = "textbutton">Escolha uma opção para continuar</h3>
  <ion-text>
    <ion-button class = "button1" fill="solid" color="danger" expand="block" [routerLink]="['/escolha']">
      Escolha uma pizza pronta
    </ion-button>
    <ion-button class = "button2" fill="solid" color="danger" expand="block" [routerLink]="['/tela']">
      Monte sua pizza
    </ion-button>
  </ion-text>
  

</ion-content>
