.botao{
 display: flex;
 justify-content: space-between;
}

.itens{
    font-size: 25px;
}

.title{
    font-size: 30px;
}

ion-content{
    --background: url(https://cdn.awsli.com.br/600x450/118/118395/produto/4042415/fbb06ff016.jpg) center;
    &::part(background){
        background-size: cover;
    }
}